@import "tailwindcss";

/* On peut garder le body ici pour le fond noir */
body {
  background-color: #000;
  color: white;
    /* Ajout : Forcer la hauteur à 100% de la vue de l'écran */
   /* On force la taille à 100% de l'écran */
  width: 100%;
  height: 100%;
  
  /* On retire toutes les marges et paddings par défaut */
  margin: 0;
  padding: 0;
  
  /* La commande la plus importante : on coupe tout ce qui dépasse */
  overflow: hidden;

}

/* On garde nos animations ici */
/* -- VOS ANIMATIONS AURORA -- */

@keyframes blob {
	0% { transform: translate(0px, 0px) scale(1); }
	33% { transform: translate(30px, -50px) scale(1.1); }
	66% { transform: translate(-20px, 20px) scale(0.9); }
	100% { transform: translate(0px, 0px) scale(1); }
}

@keyframes blob2 {
	0% { transform: translate(0px, 0px) scale(1); }
	33% { transform: translate(-40px, 30px) scale(1.2); }
	66% { transform: translate(30px, -20px) scale(0.8); }
	100% { transform: translate(0px, 0px) scale(1); }
}

.animate-blob {
  animation: blob 8s infinite;
}
.animate-blob2 {
  animation: blob2 12s infinite;
}

.animation-delay-2000 {
  animation-delay: -2s; /* Un délai négatif démarre l'animation en cours de route */
}
.animation-delay-4000 {
  animation-delay: -4s;
}
.animation-delay-6000 {
  animation-delay: -6s;
}


 